<h3> Here is your latest tweet!</h3>
<p><%= @tweet.content %></p>

<form action="/tweets/<%= @tweet.id %>/delete" method="POST">

  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">

<br><br>

<p>See all your tweets <a href='/tweets'>here.</a>

<% Tweets.all.each do |tweet| %>
<p><a href="/tweets/<%= @tweet.id %>/edit"></a>Edit Tweet</p>
<% end %>

</form>
