<h3> Here is your latest tweet!</h3>
<p><%= @tweet.content %></p>
<p>See all your tweets <a href='/tweets'>here.</a>

<br><br>

<label>Edit Tweet</label>
<p><a href="/tweets/<%= @tweet.id %>/edit"></a>Edit</p>

<br><br>

<label>Delete Tweet</label>
<form action="/tweets/<%= @tweet.id %>/delete" method="POST">

  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">

</form>
