<h3> Welcome <%= current_user.username %>!</h3>

<br><br>

<h2> Your Tweets: </h2>

<% @tweets.each do |tweet| %>
  <%= tweet.content %>
  <% if tweet.content.empty? %>
    <p> Doesn't look like you have any tweets yet, create one <a href="/tweets/new">here!</p>
  <% end %>
<% end %>
