<h1>Sign Up Below:</h1>
<form action="/signup" method="POST">

  <input type="text" name="name" placeholder="Username:">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">

  <input id="sign up" type="submit" value="Sign Up">
</form>
