<h1>Welcome to Fwitter! To create an account, complete all fields:</h1>
<form action="/signup" method="POST">
  <input id="username" type="text" name="username">

  <br><br>

  <label>Email</label>

  <input id= "name" type="text" name="name" placeholder="Username:">
  <input id= "email" type="text" name="email" placeholder="Email:">
  <input id= "password" type="password" name="password" placeholder="Password:">

  <input id="sign up" type="submit" value="Sign Up">
</form>
